### _Possible name of Vic and Pam's baby girl:_
# Elisa Maracena Cuspinera Martinez

In [1]:
# General libraries
import pandas as pd
import numpy as np
from Names_rhyme import Names_rhyme

### Score for __elisa cuspinera__

In [55]:
# testing 'Names_rhyme' class with 'check_two_names' function
v = Names_rhyme()
score_names = ['Spanish score', 'English score', 'Total score']
score = v.check_two_names("elisa", "cuspinera")
pd.DataFrame(score, index=score_names, columns=["elisa cuspinera"]).transpose()

                 Spanish score  English score  Total score
elisa cuspinera         0.1667         0.6667       0.4167

### Score for __elisa cuspinera martinez__

In [56]:
# testing 'Names_rhyme' class with 'check_complete_name' function
v = Names_rhyme()
name = "elisa cuspinera martinez"
score = v.check_complete_name(name)
pd.DataFrame(score, index=score_names, columns=[name]).transpose()

                          Spanish score  English score  Total score
elisa cuspinera martinez         0.0556         0.3334       0.1944

### Score for our favorite names

In [51]:
# getting the scores for our favorite names combined with our last names: cuspinera martinez
fav_names = ['aisha', 'amanda', 'carlina', 'elisa', 'gina', 'macarena', 'victoria', 'elisa macarena']

my_score = {}
for i in fav_names:
    v = Names_rhyme()
    score = v.check_complete_name(i + " cuspinera martinez")
    my_score[i + " cuspinera martinez"] = score

# scores
pd.DataFrame(my_score, index=score_names).transpose()

                                   Spanish score  English score  Total score
aisha cuspinera martinez                  0.0556         0.2222       0.1389
amanda cuspinera martinez                 0.0556         0.2222       0.1389
carlina cuspinera martinez                0.0556         0.1667       0.1111
elisa cuspinera martinez                  0.0556         0.3334       0.1944
gina cuspinera martinez                   0.0556         0.3334       0.1944
macarena cuspinera martinez               0.2222         0.3334       0.2778
victoria cuspinera martinez               0.0556         0.3334       0.1944
elisa macarena cuspinera martinez         0.1667         0.4167       0.2917

### Score for just __macarena cuspinera__

In [7]:
# writing down the complete name in a data frame
v = Names_rhyme()
score = v.check_complete_name("macarena cuspinera")
my_col = ('Name', 'IPA Spanish', 'IPA English', 'Score Spanish', 'Score English', 'Score Total')
pd.DataFrame([[v.complete_name, v.ipa_spanish, v.ipa_english,
                       score[0], score[1], score[2]]], columns=my_col)

,Name,IPA Spanish,IPA English,Score Spanish,Score English,Score Total
0,macarena cuspinera,makaɾena kuspineɾa,mækəˈrinə kʊzpɪˈnirə,0.5,0.6667,0.5833

### Score for __elisa macarena cuspinera martinez__

In [59]:
# testing 'Names_rhyme' class with 'check_complete_name' function
v = Names_rhyme()
name = "elisa macarena cuspinera martinez"
score = v.check_complete_name(name)
pd.DataFrame(score, index=score_names, columns=[name]).transpose()

                                   Spanish score  English score  Total score
elisa macarena cuspinera martinez         0.1667         0.4167       0.2917

In [5]:
# writing down the complete name in a data frame
v = Names_rhyme()
score = v.check_complete_name("elisa macarena cuspinera martinez")
my_col = ('Name', 'IPA Spanish', 'IPA English', 'Score Spanish', 'Score English', 'Score Total')
pd.DataFrame([[v.complete_name, v.ipa_spanish, v.ipa_english,
                       score[0], score[1], score[2]]], columns=my_col)

,Name,IPA Spanish,IPA English,Score Spanish,Score English,Score Total
0,elisa macarena cuspinera martinez,elisa makaɾena kuspineɾa maɾtines,əˈlizə mækəˈrinə kʊzpɪˈnirə mɑrˈtinɛz,0.1667,0.4167,0.2917