### _Possible name of Vic and Pam's baby girl:_
# Elisa Maracena Cuspinera Martinez

In [2]:
# General libraries
import pandas as pd
import numpy as np
from Names_rhyme import Names_rhyme

In [3]:
# testing 'Names_rhyme' class with 'check_two_names' function
v = Names_rhyme()
v.check_two_names("elisa", "cuspinera")

(0.1667, 0.6667, 0.4167)

In [6]:
# testing 'Names_rhyme' class with 'check_complete_name' function
v = Names_rhyme()
score = v.check_complete_name("elisa cuspinera martinez")
score

(0.0556, 0.3334, 0.1944)

In [4]:
# testing 'Names_rhyme' class with 'check_complete_name' function
v = Names_rhyme()
score = v.check_complete_name("elisa macarena cuspinera martinez")
score

(0.1667, 0.4167, 0.2917)

In [7]:
# writing down the complete name in a data frame
v = Names_rhyme()
score = v.check_complete_name("macarena cuspinera")
my_col = ('Name', 'IPA Spanish', 'IPA English', 'Score Spanish', 'Score English', 'Score Total')
pd.DataFrame([[v.complete_name, v.ipa_spanish, v.ipa_english,
                       score[0], score[1], score[2]]], columns=my_col)

,Name,IPA Spanish,IPA English,Score Spanish,Score English,Score Total
0,macarena cuspinera,makaɾena kuspineɾa,mækəˈrinə kʊzpɪˈnirə,0.5,0.6667,0.5833

In [5]:
# writing down the complete name in a data frame
v = Names_rhyme()
score = v.check_complete_name("elisa macarena cuspinera martinez")
my_col = ('Name', 'IPA Spanish', 'IPA English', 'Score Spanish', 'Score English', 'Score Total')
pd.DataFrame([[v.complete_name, v.ipa_spanish, v.ipa_english,
                       score[0], score[1], score[2]]], columns=my_col)

,Name,IPA Spanish,IPA English,Score Spanish,Score English,Score Total
0,elisa macarena cuspinera martinez,elisa makaɾena kuspineɾa maɾtines,əˈlizə mækəˈrinə kʊzpɪˈnirə mɑrˈtinɛz,0.1667,0.4167,0.2917