# USA

## Libraries and data

In [1]:
# General libraries
import pandas as pd
import numpy as np

# To plot
import altair as alt
alt.renderers.enable('mimetype')

RendererRegistry.enable('mimetype')

In [25]:
# Parameters
my_folder = "../names/USA/"
years = np.arange(2000, 2020)

# Open the file
df = pd.DataFrame()
for y in years:
    aux = pd.read_csv(my_folder + 'yob' + str(y) + '.txt', 
                     header=None).rename(columns={0:'Name', 1:'Gender', 2:"Counts"})
    aux['Year'] = y
    df = pd.concat([df, aux])

In [29]:
df

          Name Gender  Counts  Year
0        Emily      F   25957  2000
1       Hannah      F   23083  2000
2      Madison      F   19968  2000
3       Ashley      F   17997  2000
4        Sarah      F   17705  2000
...        ...    ...     ...   ...
31949   Zyheem      M       5  2019
31950    Zykel      M       5  2019
31951   Zyking      M       5  2019
31952      Zyn      M       5  2019
31953    Zyran      M       5  2019

[656489 rows x 4 columns]